@font-face {
  font-family: 'statemy-webfont';
  src: url('statemy-webfont.eot');
  src: url('statemy-webfont.eot?#iefix') format('embedded-opentype'),
       url('statemy-webfont.woff') format('woff'),
       url('statemy-webfont.ttf') format('truetype'),
       url('statemy-webfont.svg#statemyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

ul.statemy {
	font-size-adjust: none;
	font-family: "statemy-webfont";	
	font-weight: normal;
	font-style: normal;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga=1";
	-ms-font-feature-settings: "liga" 1;
	-ms-font-feature-settings: "liga", "dlig"; 
	overflow: hidden;
	width: 300px;
	font-size: 300px;
	display: block;
	margin: 0 auto;
	padding: 0;
	list-style: none;	
	display: block;
}


.statemy li { 
	font-family: "statemy-webfont";	
	float: left;
	margin-left: -100%;
	line-height: 100%;
	position: relative;
	left: 101%;
	width: 100%;
	margin-top: -20%;
	list-style: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}